.modal-wrapper {
    background-color: rgba(0, 0, 0, .6);
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
}

.modal-content {
    /* background-color: rgba(255, 255, 255, .75); */
    background: white;
    border-radius: 8px;
    border: 1px solid darkgray;
    min-width: 440px;
    max-width: 100%;
    min-height: 440px;
    padding: 10px;
    transition: .25s all ease-in-out;
}

.modal-content:hover {
    background-color: white;
}

.modal-content img {
    max-width: 100%;
}

.read-more {
    margin-left: 10px;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    font-size: 14px;
}