* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  line-height: 1.4;
  padding-bottom: 12px;
}

.App {
  text-align: center;
  position: relative;
}

.page-title {
  color: royalblue;
  font-size: 4.5vw;
}

.images-container {
  padding: 0 12px 12px;
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
  grid-template-rows: repeat(1, 220px);
  /* grid-template-rows: auto; */
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 10px;
  /* grid-auto-flow: dense; */
  /* grid-auto-flow: row; */
}

@media (max-width: 660px) {
  .images-container {
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    /* grid-template-columns: repeat(auto-fit, minmax(230px, 1fr)); */
    /* grid-template-columns: repeat(auto-fit, minmax(310px, 1fr)); */
  }
}

.img-wrapper {
  overflow: hidden;
  position: relative;
  height: 220px;
}

.img-wrapper:hover .img-resp {
  transform: scale(1.25);
}

.img-wrapper:hover .rating, .img-wrapper:hover .user-info {}

.img-wrapper:hover .rating {
  transform: translateY(0);
  z-index: 1;
}

.img-wrapper:hover .user-info {
  transform: translateY(0);
  z-index: 1;
}

.rating, .user-info {
  transition: .25s all ease-in-out;
  box-shadow: 0px 0px 4px black;
  display: flex;
  position: absolute;
  align-items: center;
  color: white;
  z-index: -1;
  width: 100%;
}

.rating {
  background-color: rgba(0, 0, 0, .45);
  height: 35px;
  justify-content: flex-end;
  padding-right: 10px;
  top: 0;
  transform: translateY(-100px);
}

.user-info {
  position: absolute;
  height: 45px;
  bottom: 0;
  padding: 0 8px;
  transform: translateY(100px);
}

.user-info img {
  margin-right: 10px;
  border-radius: 50%;
}

.img-resp {
  transition: .25s all ease-in-out;
  width: 100%;
  height: 100%;
  /* min-height: 220px; */
  /* display: block; */
  object-fit: cover;
}

.btn-wrapper {
  display: inline-block;
}

.btn {
  padding: 10px 20px;
  width: 132px;
  border: 0;
  background-image: linear-gradient(to right, rgb(25, 53, 26), rgb(22, 187, 118));
  color: white;
  font-size: 1.5rem;
  border-radius: 6px;
  margin: 10px;
  transition: .25s all ease-in-out;
  cursor: pointer;
}

.btn-wrapper:hover .btn {
  /* transform: translateY(2px); */
}

.btn-wrapper .btn::after {
  transition: .25s all ease-in-out;
  content: '>';
  margin-left: 8px;
  padding-right: 130px;
}

.btn-wrapper:hover .btn::after {
  margin-left: 20px;
}